.pokemon-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: #fafad4;
    width: 400px;
    height: 500px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, .75)
}

.no-pokemon h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.no-pokemon{
    align-items: center;
}

.no-pokemon img{
    padding-top: -50px;
}

.pokemon-details h2{
    align-self: center;
}

.pokemon-details-specify {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-details-specify h1{
    padding: 5px;
}

.pokemon-details-specify img {
    height: 300px;
    border: 2px solid black;
    border-radius: 8px;
    background-image:
    linear-gradient(to bottom, black 1px, transparent 1px);
    background-size: 100vh 20px;
    background-color: #495466;
}

.pokemon-details-types ul {
    padding-top: 8px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.pokemon-checkbox {
    margin-top: 10px;
    font-weight: 600;
}

.pokemon-checkbox input {
    margin-right: 5px;
    vertical-align: middle;
}

.pokemon-checkbox label {
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1440px) {
    .pokemon-details {
        width: 320px;
        height: 450px;
    }
    .pokemon-details-specify img {
        height: 240px;
    }
    .pokemon-details-specify h1{
        font-size: 32px;
    }   
}

@media (min-width: 769px) and (max-width: 1119px) {

}

@media (min-width: 481px) and (max-width: 768px) {
    .pokemon-details {
        width: 360px;
        height: 400px;
    }
    .pokemon-details-specify img {
        height: 200px;
    }
    .pokemon-details-specify h1{
        font-size: 32px;
    } 
    .pokemon-checkbox label {
        font-size: 20px;
    }
}

@media (max-width: 480px) {

}
  
  @media (max-width: 375px) {

}
