.pokemon-info{
    width: 100%;
    display: flex;
    padding: 20px
}

h2{
    height: 40px;
}

.pokemon-more-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.moves{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    padding: 4px;
    margin: 0 20px 20px 20px;
}

.abilities-container{
    height: 400px;
    width: 600px;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
}

.pokemon-container-evolutions{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 900px;
}