.pokemon-evolutions {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.pokemon-evolutions::-webkit-scrollbar {
    color: transparent;
}

.pokemon-evo-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 180px;
    list-style: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.pokemon-evo-design:hover {
    background-color: #FFFFFF;
    color: black;
}

.pokemon-first-evos .no-evolution {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-size: 30px;
}

.pokemon-evo-design img {
    height: 80px;
}

.pokemon-evo-design p {
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
}

.pokemon-evo-design ul {
    display: flex;
}

.pokemon-evo-design ul li {
    height: 28px;
    width: 90px;
    font-size: 16px;
    text-align: center;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .pokemon-evo-design {
        height: 160px;
        width: 150px;
    }
    .pokemon-evo-design p{
        font-size: 16px;
    }
}

@media (min-width: 885px) and (max-width: 1024px) {
    .pokemon-evo-design {
        width: 155px;
    }
}
